.page-bg {
    background: #d7e6d5;
    padding: 20px;
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.col {
    flex: 1;
}

.input-box {
    width: 100%;
    padding: 6px;
    background: #eee;
    border: 1px solid #aaa;
}

.section-label {
    font-weight: bold;
    margin: 20px 0 8px;
    display: block;
}


.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.custom-table th {
    background-color: #1976d2;
    color: white;
    padding: 10px;
    border: 1px solid #b0a60e;
    text-align: center;
}

.custom-table td {
    padding: 8px;
    border: 1px solid #a0cf9d;
}

.custom-table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table-title {
    margin-top: 20px;
    font-weight: bold;
}

.no-data {
    margin-top: 10px;
    color: red;
}