<div class="page-bg">

    <h2 class="form-title">படிவம் 8</h2>

    <!-- District & Zone -->
    <div class="row">
        <div class="col">
            <label>மாவட்ட தேர்தல் அலுவலர் / மாவட்டம்</label>
            <input class="input-box" [value]="district_name" readonly />
        </div>

        <div class="col">
            <label>மாவட்ட தேர்தல் அலுவலர் / சரகம்</label>
            <input class="input-box" [value]="Zone_name" readonly />
        </div>
    </div>

    <h3 class="table-title">தேர்தல் நிறுத்தப்பட்ட சங்கங்கள்</h3>

    <table class="custom-table" *ngIf="stoppedSocieties.length > 0">
        <thead>
            <tr>
                <th>சங்கங்களின் பெயர்</th>
                <th>மொத்த வாக்குப்பதிவு எண்ணிக்கை</th>
                <th>நிறுத்தப்பட்ட விதி எண்</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of stoppedSocieties">
                <td>{{ s.society_name }}</td>
                <td>{{ s.casted_votes_count }}</td>
                <td>{{ s.polling_suspension_count }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="stoppedSocieties.length === 0">
        தரவு இல்லை
    </div>

</div>