<div class="header-container">

  <div class="left-section">
    <img src="gallery/logo.png" class="logo">

    <div class="header-text">
      <div class="header-title">தமிழ்நாடு மாநில கூட்டுறவு சங்கங்களின்</div>
      <div class="header-subtitle">தேர்தல் ஆணையம்</div>
    </div>
  </div>

  <div class="right-section">

    <div class="profile">
      <img src="gallery/image.png" class="profile-icon">
<span class="username">{{ username || 'Guest' }}</span>
    </div>

    <button class="logout-btn" (click)="logout()">Logout</button>

  </div>

</div>
