<div class="login-container">
  <div class="login-card">
    <h2>User Login</h2>

    <!-- Username -->
    <label>Username</label>
    <input type="text" [(ngModel)]="username" placeholder="Enter username">

    <!-- Password -->
    <label>Password</label>

    <div class="password-box">
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Enter password">

      <!-- Eye Button -->
      <!-- <button type="button" class="eye-btn" (click)="showPassword = !showPassword">
        {{ showPassword ? '🙈' : '👁️' }}
      </button> -->


      <button type="button" class="eye-btn" (click)="showPassword = !showPassword">
        <span style="font-size:24px;">👁</span>
      </button>
    </div>

    <!-- Login Button -->
    <!-- <button class="login-btn" (click)="login()">
      Login
    </button> -->

    <button class="login-btn" (click)="login()" [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>
    <div class="toast-success" *ngIf="showToast">
      ✅ உள்நுழைவு வெற்றிகரமாக முடிந்தது
    </div>

    <p class="error-text" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>


  </div>

</div>