.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #656acc, #678bc6);
  font-family: 'Segoe UI', sans-serif;
}

.login-card {
  width: 400px;
  padding: 45px 40px;
  background: #273248;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  color: white;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 700;
}

.login-card label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #dbe2ea;
}

/* Username Input */
.login-card input {
  width: 100%;
  height: 58px;
  padding: 0 18px;
  border: none;
  border-radius: 14px;
  background: #dbe2ea;
  font-size: 18px;
  color: #111827;
  box-sizing: border-box;
  outline: none;
}

/* Password Box */
.password-box {
  position: relative;
  margin-bottom: 28px;
}

/* Password Input */
.password-box input {
  padding-right: 60px;
}

/* Eye Button */
.eye-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
  width: auto;
  padding: 0;
}

/* Login Button */
.login-btn {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(90deg, #2563eb, #3b82f6);
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #1d4ed8, #2563eb);
}

.error-text {
  color: #ff6b6b;
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.toast-success {
  position: fixed;
  top: 20px;
  right: 20px;

  background: #95af9b;
  color: white;

  padding: 18px 30px;
  /* increase size */
  border-radius: 10px;

  font-size: 20px;
  /* bigger text */
  font-weight: 700;

  min-width: 280px;
  /* wider popup */
  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}