<div class="page-bg">

    <h2 class="form-title">படிவம் 4</h2>
    <div class="form-subtitle">வேட்புமனு தாக்கல் பற்றிய விபரங்கள்</div>

    <!-- F1 & F2 -->
    <div class="row">
        <div class="col">
            <label>மாவட்டம்</label>
            <input class="input-box" [(ngModel)]="district_name" readonly />
        </div>
        <div class="col">
            <label>சபகம்</label>
            <input class="input-box" [(ngModel)]="zone_name" readonly />
        </div>
    </div>

    <!-- F3 -->
    <label class="section-label">F3</label>
    <div class="large-box">
        <div class="f4-row" *ngFor="let soc of societyList">
            <div class="f4-name">
                <input type="checkbox" [(ngModel)]="soc.selected" (change)="onSelectChange()" />
                {{ soc.society_name }}
            </div>

            <div class="f4-input-group"><span class="f4-label">ப.தி./ப.கு</span><input class="f4-input"
                    [value]="soc.sc_st" readonly /></div>
            <div class="f4-input-group"><span class="f4-label">மகளிர்</span><input class="f4-input" [value]="soc.women"
                    readonly /></div>
            <div class="f4-input-group"><span class="f4-label">பொது</span><input class="f4-input" [value]="soc.general"
                    readonly /></div>
            <div class="f4-input-group">
                <span class="f4-label">மொத்தம்</span>
                <input class="f4-input" [value]="soc.total" readonly />
            </div>

        </div>
    </div>

    <!-- F4 -->
    <label class="section-label">F4</label>

    <div class="large-box" *ngIf="selectedSocietyList.length; else empty">
        <div class="f4-row" *ngFor="let soc of selectedSocietyList">

            <div class="f4-name">✔ {{ soc.society_name }}</div>

            <!-- MANUAL INPUTS -->
            <div class="f4-input-group">
                <span class="f4-label">ப.தி./ப.கு</span>
                <input type="number" class="f4-input" min="0" [(ngModel)]="soc.declared_sc_st" />
            </div>

            <div class="f4-input-group">
                <span class="f4-label">மகளிர்</span>
                <input type="number" class="f4-input" min="0" [(ngModel)]="soc.declared_women" />
            </div>

            <div class="f4-input-group">
                <span class="f4-label">பொது</span>
                <input type="number" class="f4-input" min="0" [(ngModel)]="soc.declared_general" />
            </div>

            <!-- STOPPED -->
            <!-- <div class="checkbox-group">
                <input type="checkbox" [(ngModel)]="soc.electionStopped" />
                தேர்தல் நிறுத்தப்பட்டிருப்பின் (✓) செய்யவும்
            </div> -->

            <!-- REMARKS -->
            <div class="f4-input-group">
                <span class="f4-label">குறிப்புகள்</span>
                <input class="f4-input" [(ngModel)]="soc.remarks" />
            </div>


        </div>
    </div>

    <ng-template #empty>
        <div class="large-box empty-text">எந்த சங்கமும் தேர்வு செய்யப்படவில்லை</div>
    </ng-template>
    <label class="section-label">
        வேட்புமனு தாக்கல் செய்யப்படாத சங்கங்கள் மற்றும் உறுப்பினர்களின் எண்ணிக்கை (F5)
    </label>
    <div class="large-box" *ngIf="unselectedSocietyList.length">

        <div class="f4-row" *ngFor="let soc of unselectedSocietyList">

            <div class="f4-name">
                {{ soc.society_name }}
            </div>

            <div class="f4-input-group">
                <span class="f4-label">ப.தி./ப.கு</span>
                <input class="f4-input" [value]="soc.sc_st" readonly />
            </div>

            <div class="f4-input-group">
                <span class="f4-label">மகளிர்</span>
                <input class="f4-input" [value]="soc.women" readonly />
            </div>

            <div class="f4-input-group">
                <span class="f4-label">பொது</span>
                <input class="f4-input" [value]="soc.general" readonly />
            </div>

        </div>

    </div>

    <!-- BUTTONS -->
    <div class="button-row">
        <button class="cancel-btn" (click)="cancel()">ரத்து செய்ய</button>
        <button class="submit-btn" (click)="submit()">சமர்ப்பிக்க</button>
    </div>

</div>