<div class="step-container">

  <h2 class="title">படிவம் 2</h2>
  <h3 class="sub-title">உறுப்பினர் பட்டியல் அளித்த/அளிக்காத சங்கங்கள் விவரம்</h3>

  <!-- =============== ROW 1 =============== -->
  <div class="form-grid">

    <!-- LEFT COLUMN -->
    <div class="form-column">

      <label class="label">மாவட்ட தேர்தல் அலுவலர்/ மாவட்டம்
      </label>
      <input type="text" class="input-box" [(ngModel)]="district_name" readonly>

      <label class="label">உறுப்பினர் பட்டியல் தயாரித்து வெளியிட வேண்டிய சங்கங்களின் பெயர்
      </label>

      <textarea class="textarea-box" readonly>{{ f3List }}</textarea>

    </div>


    <!-- RIGHT COLUMN -->
    <div class="form-column">

      <label class="label">மாவட்ட தேர்தல் அலுவலர்/ சரகம்</label>
      <input type="text" class="input-box" [(ngModel)]="zone_name" readonly>

      <label class="label">உறுப்பினர் பட்டியல் தயாரித்து வெளியிட்டுள்ள சங்கங்களின் பெயர்
      </label>

      <div class="checkbox-list">
        <div *ngFor="let item of finalCheckboxList" class="checkbox-item">
          <!-- <input type="checkbox" [checked]="item.checked" (change)="toggleCheckbox(item)"> -->
          <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="updateF5F6()">
          {{ item.society_name }}
        </div>
      </div>

    </div>

  </div>



  <!-- =============== ROW 2 : F5 + F6 =============== -->
  <div class="upload-container">


    <!-- F5 PANEL -->
    <div class="upload-panel">
      <h3 class="panel-title">
        வாக்காளர் பட்டியல் அலுவலருக்கு உறுப்பினர் பட்டியல் அளித்த சங்கங்களின்பெயர் </h3>

      <div class="panel-box">
        <div *ngFor="let item of f5_selectedList" class="panel-item">
          {{ item.society_name }}
        </div>
      </div>
    </div>




    <!-- F6 PANEL -->

    <div class="upload-panel">
      <h3 class="panel-title">
        வாக்காளர் பட்டியல் அலுவலருக்கு உறுப்பினர் பட்டியல் அளிக்காத சங்கங்களின் பெயர் </h3>

      <div class="panel-box red-box">
        <div *ngFor="let item of f6_unselectedList" class="panel-item panel-item-red">
          {{ item.society_name }}
        </div>
      </div>
    </div>


  </div>

  <!-- =============== COUNT FIELD =============== -->
  <label class="label">வாக்காளர் பட்டியல் அலுவலருக்கு உறுப்பினர் பட்டியல் அளிக்காத சங்கங்களின் எண்ணிக்கை</label>
  <input type="text" class="input-box" readonly [value]="f6_unselectedList.length">



  <!-- =============== BUTTONS =============== -->

  <div class="form-actions">
    <button class="button-box cancel">ரத்து</button>
    <button class="button-box submit" (click)="submitForm2()">சமர்ப்பிக்க</button>
  </div>
</div>